@import 'highlight.js/styles/intellij-light.css';
@import './root.css';
@import './layout.css';
@import './treeview.css';
@import './text.css';
@import './highlight.css';
@import './table.css';
@import './tabstrip.css';
@import './button.css';

div[style^='display: flex'],
div[kendowatermarkoverlay] {
  display: none !important;
}

body {
  margin: 0px;
  box-sizing: border-box;
}
