:root {
  --teal-dark: #004443;
  --teal-mid: #01615f;
  --teal-mid-alpha: #01615f1a;
  --teal-light: #188f8b;
  --golden-mid: #d4aa3a;
  --golden-light: #dcbf57;
  --golden-light-alpha: #dcbf571a;
  --grey-title: #475467;
  --grey-text: #667085;
  --important: #ed143d;
  --important-background: #ed143d1a;
}
