h1 {
  color: var(--teal-mid);
}

h2,
h3 {
  color: var(--grey-title);
}

p,
li {
  line-height: 1.5rem;
  color: var(--grey-text);
}

b {
  color: var(--teal-mid);
  background-color: var(--teal-mid-alpha);
  padding: 0.1rem;
  border-radius: 0.2rem;
}

.required {
  text-transform: uppercase;
  color: var(--important);
  font-weight: bold;
  font-size: 0.9rem;
}

a {
  color: var(--teal-mid);
  font-weight: bold;
}

.important {
  color: var(--important);
  font-weight: bold;
  background-color: var(--important-background);
}
