.npm {
  background-color: var(--teal-mid-alpha);
  color: var(--teal-mid);
  font-weight: 500;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
}

:host::ng-deep kendo-tabstrip:not(.code) {
  height: 380px;
}
