<kendo-tabstrip>
  <kendo-tabstrip-tab title="Example" [selected]="true">
    <ng-template kendoTabContent>
      <ng-container *ngTemplateOutlet="exampleTemplate"></ng-container>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="Code">
    <ng-template kendoTabContent>
      <kendo-tabstrip tabPosition="left" class="code">
        @for (codeFile of codeFiles; track codeFile.fileName) {
        <kendo-tabstrip-tab [title]="codeFile.fileName" [selected]="!!codeFile.selected">
          <ng-template kendoTabContent>
            <code-block
              [code]="codeFile.code"
              [language]="codeFile.lang"
              [showLineNumbers]="codeFile.showLineNumbers"
            ></code-block>
          </ng-template>
        </kendo-tabstrip-tab>
        }
      </kendo-tabstrip>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
