<kendo-treeview
  #treeview
  [nodes]="menuItems"
  textField="text"
  kendoTreeViewHierarchyBinding
  childrenField="items"
  kendoTreeViewExpandable
  [(expandedKeys)]="expandedKeys"
  kendoTreeViewSelectable
  [(selectedKeys)]="selectedKeys"
  [animate]="true"
  [expandOnFilter]="true"
  (nodeClick)="nodeClick($event)"
  [isExpanded]="isItemExpanded"
>
  <ng-template kendoTreeViewNodeTemplate let-dataItem>
    <span [ngClass]="{ title: dataItem.isTitle }">{{ dataItem.text }}</span>
  </ng-template>
</kendo-treeview>
